@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*
{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body
{
    background-color: #2f3640;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.input-Container
{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #70e6f3;
    border-radius: 10px;
    overflow: hidden;
}
.cityInput
{
    flex: 1;
    height: 35px;
    border: none;
    font-size: 16px;
    outline: none;
    padding:10px;
}
.search-icon img
{
    width: 20px;
    object-fit: contain;
}
.search-icon
{
    padding: 10px;
    cursor: pointer;
}
.image
{
    text-align: center;
    height: 150px;
    margin-top:12px;
}
.image img
{
    height: 150px;
    width: 150px;
}
.temp,.location,.country
{
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
    color: #333;
    text-transform: uppercase;
}
.temp
{
    font-weight: 500;
}
.location
{
    text-transform: uppercase;
    color: #ffbc00;
    font-weight: 400;
    font-size: 40px;
}
.country
{
    font-size: 18px;
    color: #888;
    font-weight: 500;
}
.co-ordinates
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}
.co-ordinates div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.co-ordinates div span
{
    font-size: 14px;
}
.humidity-percent,.wind-percent,
.co-ordinates div span:nth-child(2)
{
    font-size: 18px;
    font-weight: bold;
    color: #666;
    padding-top: 5px;
}
.data-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} 
.element img
{
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
}  
.element
{
    text-align: center;
}
.text
{
    font-size: 12px;
    color: #888;
}
.copyrights
{
    text-align: center;
    color: #888;
    font-size: 15px;
    font-weight: 500;
}
.copyrights span
{
    color: rgb(100, 78, 78);
}
.loading-message,.error-message,.city-not-found
{
    margin-top: 10px;
    color: rgb(253, 83, 83);
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}